config.stopBubbling = true
# Required for Jacoco plugin to exclude lombok generated code (i.e. equalsAndHashCode) from coverage reports
lombok.addLombokGeneratedAnnotation=true

lombok.equalsAndHashCode.callSuper = call
lombok.equalsAndHashCode.doNotUseGetters = true

lombok.toString.doNotUseGetters = true

# lombok.fieldNameConstants.uppercase = true

# lombok.anyConstructor.addConstructorProperties=true
# lombok.copyableAnnotations += org.bson.codecs.pojo.annotations.BsonProperty
# lombok.copyableAnnotations += org.bson.codecs.pojo.annotations.BsonId
# lombok.copyableAnnotations += org.springframework.data.mongodb.core.mapping.Field
# lombok.copyableAnnotations += org.springframework.data.mongodb.core.mapping.MongoId
# lombok.copyableAnnotations += org.springframework.data.annotation.Id
# lombok.copyableAnnotations += org.springframework.data.annotation.Transient
# lombok.copyableAnnotations += org.springframework.data.annotation.Transient


lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
