config.stopBubbling = true
lombok.equalsAndHashCode.callSuper = call
lombok.equalsAndHashCode.doNotUseGetters = true
lombok.toString.doNotUseGetters = true
lombok.fieldNameConstants.uppercase = true

lombok.addLombokGeneratedAnnotation=true
# lombok.anyConstructor.addConstructorProperties=true
# lombok.copyableAnnotations += org.bson.codecs.pojo.annotations.BsonProperty
# lombok.copyableAnnotations += org.bson.codecs.pojo.annotations.BsonId
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
